@import ../../../../styles/mixins

div
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  cursor: url(/assets/hand.png), auto
.a-track__container
  font-size: 2.7vw
  color: white
  text-align: center
  padding: 5%
  width: 1fr
  @include desktop
    font-size: 1.5vw
  span
    cursor: url(/assets/hand.png), auto
