@import ../../../styles/variables
@import ../../../styles/mixins

.spinner__container
  .logo__img
    width: 130px
    position: absolute
    top: 37%
    left: 50%
    transform: translate(-50%, -50%)
    @include desktop
      width: 200px
      top: 38%

  span
    color: #ffffff
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px $blue_def, 0 0 30px $blue_def, 0 0 40px $blue_def, 0 0 55px $blue_def, 0 0 75px $blue_def
    font-size: 40px

    position: absolute
    top: 35%
    left: 50%
    transform: translate(-45%, -50%)
    @include desktop
      font-size: 50px
