$desktop: 600px

@mixin desktop
  @media (min-width:#{$desktop})
    @content

.a-logo__link
  color: #ffffff
  font-size: 6vw
  text-decoration: none
  &:hover
    color: #00ccff
  .a-logo__img
    width: 6%
    margin-right: 5px
  @include desktop
    font-size: 3vw
