@import ../../../../styles/variables
@import ../../../../styles/mixins

.a-logo__link
  color: white
  font-size: 6vw
  text-decoration: none
  width: 100%
  margin: 0
  &:hover
    color: $blue_def
  .a-logo__img
    width: 10%
  @include desktop
    font-size: 3vw
