<nav class="m-navbar__container">
  <app-logo routerLink="/home"></app-logo>
  <div class="m-links__container">
    <ul class="m-nav_menu__list">
      <li class="m-nav_menu__item">
        <app-user-info (click)="navigate('home')" [user]="user"></app-user-info>
      </li>
      <li class="m-nav_menu__item">
        <a (click)="navigate('favorites')" class="m-nav_link"
          >&#9825;Favorites</a
        >
      </li>
      <li class="m-nav_menu__item">
        <a routerLink="/login" class="m-nav_link"
          >&#10153;SignOut<i class="fas fa-sign-out-alt"></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="m-hamburger__container" (click)="mobileMenu()">
    <span class="m-bar"></span>
    <span class="m-bar"></span>
    <span class="m-bar"></span>
  </div>
</nav>
